
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
h1 {
  font-family: 'Montez', cursive;
  font-weight: bold;  /* Faux bold (browser thickens letters) */
  font-style: italic; /* Faux italic (browser slants letters) */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f1f0ee;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1rem;
  font-family:Relative Faux, sans-serif;
  font-weight: 500;
}

.limg{
  padding: 2px;
  border-radius: 8px;
}

.rimg{
  padding: 2px;
  border-radius: 8px;
}

.spc {
  font-family: 'Tenor sans', sans-serif;
  font-weight: 500;
}

.menu .test{
  display: flex;
  width: fit-content;
  height: 40px;
  padding-left: 10px;
  padding-right: 3rem;
  border-radius: 8px;
  align-items: center;
  padding:14px 14px;
  cursor: pointer;
}

.menu .test:hover{
  background: #e4e2df;
}

.cursor-custom {
  cursor: url('/public/65b1a12e3211534c63d294b5_guest_green_cursor_yD3_icon.ico'), auto;
}

